{% extends 'base.html' %}
{%block content%}
{%load static%}
{%if messages%}
    {% for m in messages%}
    <h4 class="text-{{m.tags}} bg-white text-center" style="border-radius:7px;">{{m}}</h4>
    {%endfor%}
{%endif%}
<!--<h1> welcome to profile </h1>-->

<div class="container mt-5 p-5">

  <h4 class=" text-center" style="background-color: white; margin:auto; width:50%">{{info.first_name}} {{info.last_name}} welcome to your profile</h4>


    <h1>Directory Info : </h1>
      <table class="table caption-top">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Musician Name</th>
              <th scope="col">Email</th>
              <th scope="col">Album Rtaing</th>
              <th scope="col">Instrument Type</th>
              <th scope="col">Album Name</th>
              <th scope="col">Release Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {%for elements in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><a href="{%url 'edit_musician' pk=elements.musician.id %}">{{elements.musician.first_name}} {{elements.musician.last_name}}</a></td>
              <td>{{elements.musician.email}}</td>
              <td>{{elements.rating}}</td>
              <td>{{elements.musician.instrument_type}}</td>
              <td>{{elements.album_name}}</td>
              <td>{{elements.release_date}}</td>
              <td><a href="{%url 'edit_album' pk=elements.id %}" class="btn btn-warning p-2 m-1">Edit</a>
                  <form method='post' action="{% url 'delete_album' pk=elements.id %}">
                        {%csrf_token%}
                        <button class="btn btn-danger p-2 m-1">Delete</button>
                    </form>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
  </div>

{%endblock%}